<div>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Enter your information and join us"
    (nzOnCancel)="handleCancel()"
    [nzFooter]="modalFooter"
  >
    <ng-container *nzModalContent>
      <!-- Name Inputs -->
      <div class="flex items-center justify-center gap-2.5">
        <input
          nz-input
          placeholder="First Name"
          [(ngModel)]="firstName"
          class="!h-10 !rounded-xl"
        />
        <input
          nz-input
          placeholder="Last Name"
          [(ngModel)]="lastName"
          class="!h-10 !rounded-xl"
        />
      </div>

      <!-- Email & Job -->
      <div class="flex items-center justify-center gap-2.5 mt-2.5">
        <input
          nz-input
          placeholder="Email"
          [(ngModel)]="email"
          class="!h-10 !rounded-xl"
        />
        <input
          nz-input
          placeholder="Job Position"
          [(ngModel)]="jobPosition"
          class="!h-10 !rounded-xl"
        />
      </div>

      <!-- Skills -->
      <nz-select
        [(ngModel)]="selectedSkills"
        nzAllowClear
        class="w-full mt-2.5 !rounded-xl !h-10"
        nzPlaceHolder="Select your skills"
        nzMode="multiple"
      >
        <nz-option
          *ngFor="let item of skills; trackBy: trackBySkill"
          [nzLabel]="item"
          [nzValue]="item"
        ></nz-option>
      </nz-select>
    </ng-container>

    <!-- Footer Template -->
    <ng-template #modalFooter>
      <div class="flex items-center justify-end gap-2.5">
        <button
          nz-button
          nzType="default"
          (click)="handleCancel()"
          class="mt-2 cursor-pointer px-3 py-2 bg-white !text-black rounded-lg shadow-md"
        >
          Back
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="submitForm()"
          class="mt-2 cursor-pointer px-3 py-2 bg-blue-500 !text-white rounded-lg shadow-md hover:bg-blue-700"
        >
          Send
        </button>
      </div>
    </ng-template>
  </nz-modal>

  <!-- Trigger Button -->
  <button
    (click)="showModal()"
    class="mt-5 cursor-pointer px-6 py-3 bg-blue-600 !text-white rounded-lg shadow-md hover:bg-blue-700"
  >
    Registration
  </button>
</div>
