<div>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Enter your information and join us"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
  >
    <ng-container *nzModalContent>
      <div class="flex items-center justify-center gap-2.5">
        <input
          nz-input
          placeholder="FirstName"
          [(ngModel)]="firstName"
          class="!h-10 !rounded-xl"
        />
        <input
          nz-input
          placeholder="Lastname"
          [(ngModel)]="lastName"
          class="h-10 !rounded-xl"
        />
      </div>

      <div class="flex items-center justify-center gap-2.5 mt-2.5">
        <input
          nz-input
          placeholder="Email"
          [(ngModel)]="email"
          class="!h-10 !rounded-xl"
        />
        <input
          nz-input
          placeholder="Job positon"
          [(ngModel)]="jobPositon"
          class="h-10 !rounded-xl"
        />
      </div>

      <nz-select
        [(ngModel)]="selectedSkills"
        nzAllowClear
        class="w-full"
        nzPlaceHolder="Select your skills"
        style="margin-top: 10px; border-radius: 12px; height: 40px"
        nzMode="multiple"
      >
        @for (item of skills; track item) {
        <nz-option [nzLabel]="item" [nzValue]="item"></nz-option>
        }
      </nz-select>
    </ng-container>

    <div *nzModalFooter>
      <div class="flex items-center justify-end gap-2.5">
        <button
          nz-button
          nzType="default"
          (click)="handleCancel()"
          class="mt-5 cursor-pointer inline-block px-3 py-2 bg-white !text-black rounded-lg shadow-md"
        >
          Back
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="submitForm()"
          class="mt-5 cursor-pointer inline-block px-3 py-2 bg-blue-500 !text-white rounded-lg shadow-md hover:bg-blue-700"
        >
          Send
        </button>
      </div>
    </div>
  </nz-modal>

  <button
    (click)="showModal()"
    class="mt-5 cursor-pointer inline-block px-6 py-3 bg-blue-600 !text-white rounded-lg shadow-md hover:bg-blue-700"
  >
    Registration
  </button>
</div>
