::ng-deep .ant-select {
  width: 100%;
  border-radius: 12px;
}

::ng-deep .ant-select-selector {
  border-radius: 12px;
  height: 40px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
