<div
  class="bg-blue-600 text-white py-4 px-12 max-[400px]:px-2 flex justify-between items-center"
>
  <a class="text-lg font-bold cursor-pointer" routerLink="/">JobSearcher</a>
  <div class="space-x-4 mr-12 max-[400px]:mr-2">
    <a
      routerLink="/home"
      routerLinkActive="font-bold"
      class="cursor-pointer hover:underline"
      >Home</a
    >
    <a
      routerLink="/about"
      routerLinkActive="font-bold"
      class="cursor-pointer hover:underline"
      >About</a
    >
  </div>
</div>
